section.about
	.container
		+title--with-bootom-line("About us", "We are added our major Services")

		ul.about__list
			li.about__item
				.icon.icon-like
				h3.about__header Facebook Marketing
				p.about__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quos iure velit dolorum aliquam tempore pariatur quasi ullam quas! Eos libero rem adipisci optio, ratione, quasi eveniet repudiandae iusto numquam.

			li.about__item
				.icon.icon-book
				h3.about__header landing pages Creation
				p.about__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quos iure velit dolorum aliquam tempore pariatur quasi ullam quas! Eos libero rem adipisci optio, ratione, quasi eveniet repudiandae iusto numquam.

			li.about__item
				.icon.icon-message
				h3.about__header Ads management
				p.about__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quos iure velit dolorum aliquam tempore pariatur quasi ullam quas! Eos libero rem adipisci optio, ratione, quasi eveniet repudiandae iusto numquam.