section.approch
	.container
		+title--with-bootom-line("Our Approch","Check our approches step by step (how we do it)")
		
		ul.approch__list
			li.approch__item
				.approch__image
					img.approch__picture(src="images/step-1.jpg" alt="picture")
					.approch__step step
				.approch__text
					.approch__title Step 1: Heading here
					p.approch__description.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quas debitis cupiditate, ducimus molestias eum hic iure fugiat rerum quidem! Voluptas voluptatum eaque, nam facere, necessitatibus obcaecati modi quis perferendis?

			li.approch__item
				.approch__image
					img.approch__picture(src="images/step-2.jpg" alt="picture")
					.approch__step step
				.approch__text
					.approch__title Step 2: Heading here
					p.approch__description.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quas debitis cupiditate, ducimus molestias eum hic iure fugiat rerum quidem! Voluptas voluptatum eaque, nam facere, necessitatibus obcaecati modi quis perferendis?

			li.approch__item
				.approch__image
					img.approch__picture(src="images/step-3.jpg" alt="picture")
					.approch__step step
				.approch__text
					.approch__title Step 3: Heading here
					p.approch__description.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quas debitis cupiditate, ducimus molestias eum hic iure fugiat rerum quidem! Voluptas voluptatum eaque, nam facere, necessitatibus obcaecati modi quis perferendis?

			li.approch__item
				.approch__image
					img.approch__picture(src="images/step-4.jpg" alt="picture")
					.approch__step step
				.approch__text
					.approch__title Step 4: Heading here
					p.approch__description.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quas debitis cupiditate, ducimus molestias eum hic iure fugiat rerum quidem! Voluptas voluptatum eaque, nam facere, necessitatibus obcaecati modi quis perferendis?