section.form-section
	.container
		.title
			h2.title.title__header Get Your free Facebook Analysis Now
			.title__text Enter your details below

		.btn-down: a.arrow-down(href="form.html" target="_blank"): i.fa.fa-angle-down

		.form-container.is-hidden
			form(method="post" action="#").form
				button(type="button").form__close-button x
				.form__text.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, repellendus et ut, ipsam adipisci numquam blanditiis tenetur voluptas, quo debitis autem. Ipsum sit consequuntur excepturi accusantium

				.form__fields
					input.form__input(type="text" placeholder="Your Name" data-valid="required")
					input.form__input(type="email" placeholder="Email" data-valid="required" data-email)
					input.form__input(type="text" placeholder="Contact Name" data-valid="required" data-number)

				button(type="submit").button.button--text-uppercase.button--red Submit now