section.work
	.container
		+title--with-bootom-line("Our Work","We are added our featured works below")

		ul.work__list
			li.work__item.work__item--name#first
				.work__name Project Name
				.work_description Project Description
			
			li.work__item#second: img.work__picture(src="images/work-1.jpg" alt="picture")

			li.w-100

			li.work__item.work__item--name#third
				.work__name Project Name
				.work_description Project Description
			
			li.work__item#fourth: img.work__picture(src="images/work-2.jpg" alt="picture")

			li.w-100

			li.work__item#fifth: img.work__picture(src="images/work-3.jpg" alt="picture")

			li.work__item.work__item--name#sixth
				.work__name Project Name
				.work_description Project Description

			li.w-100
			
			li.work__item#seventh: img.work__picture(src="images/work-4.jpg" alt="picture")

			li.work__item.work__item--name#eighth
				.work__name Project Name
				.work_description Project Description
			
			
